@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chart-container {
  @apply relative h-[400px] w-full rounded-lg bg-card p-4;
}

.section-container {
  @apply mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8;
}

.title-container {
  @apply mx-auto max-w-7xl px-4 pt-10 sm:px-6 lg:px-8;
}

.hero-container {
  @apply mx-auto px-4;
}
